<div class="container" style="width: 100%; height: 100%; margin-top: -20px; background-color: black">
  <!--data-interval: slide transition times in ms.-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1000">
     <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="/assets/img/1.jpg" alt="">
        </div>

        <div class="item">
          <img src="/assets/img/2.jpg" alt="">
        </div>

        <div class="item">
          <img src="/assets/img/3.jpg" alt="">
        </div>

        <div class="item">
          <img src="/assets/img/4.jpg" alt="">
        </div>
      </div>
    </div>
</div>
