<!--<div>-->
  <!--<button> Go </button> <button> Refresh </button> <input type='text' id='foo' [(ngModel)]="url" style="width:75%; height: 20px"><button>Refresh</button>-->
<!--</div>-->

  <!--<div>-->
  <!--<button (click)="getID()">Go</button>-->
<!--</div>-->
  <div class style="height: 100%; margin-top: 5px" >
    <iframe  id="i" [src]="url | safe" width="100%" height="100%"  style="border: none;"></iframe>
  </div>
  <div class="container">
      <div class="col-md-2"style="align-content: center; margin-top: 5px; margin-left: -45px">
        <button style="width: 50%;" (click)="goBack()">Back</button>
      </div>
      <div class="col-md-2" style="align-content: center; margin-top: 5px; margin-left: -65px">
        <button style="width: 75%;" (click)="goForward()">Forward</button>
      </div>
      <div class="col-md-6"style="align-content: center; margin-top: 5px; margin-left: -45px"><input [(ngModel)]="nextUrl" type="text" style="width: 135%; border: 1px solid black;">
      </div>
      <div class="col-md-2"style="align-content: center; margin-top: 5px; margin-left: 140px">
        <button style="width: 70%;" (click)="onGo()">Go</button>
      </div>
    </div>
