<!--<div>-->
  <!--<button> Go </button> <button> Refresh </button> <input type='text' id='foo' [(ngModel)]="url" style="width:75%; height: 20px"><button>Refresh</button>-->
<!--</div>-->

  <!--<div>-->
  <!--<button (click)="getID()">Go</button>-->
<!--</div>-->
<div class="row">
  <div class="col-md-12 col-md-offset-3"><input type="text" style="width: 50%; border: 1px solid black; margin-top: 4px">
  </div>

  <div class="col-md-2">


  </div>
</div>
<div style="height: 100%; margin-top: 5px" >
  <iframe  id="i" [src]="'https://www.google.com' | safe" width="100%" height="100%"  style="border: none;"></iframe>
</div>
