<div class="container-fluid" style="background-color: lightcyan">
  <h1>Maintenance Login</h1>
  <form #login="ngForm" (ngSubmit)="onSubmit(login)" novalidate style="margin-left: 30px">
    <div class="row">
      <div class="row" *ngIf="wrongFlag" style="margin-left: -30px">
       <div class="col-md-3">
         <h1 style="background-color: red">Error on login. Try again.</h1>
       </div>
      </div>
      <div class="row">Username</div>
      <div class="row"><input name="first" ngModel required #first="ngModel"></div>
    </div>
    <div class="row">
      <div class="row">Password</div>
      <div class="row"><input type="password" name="password" ngModel></div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <button (click)=" back()">Back</button>
      </div>
      <div class="col-md-1">
        <button>Submit</button>
      </div>
    </div>
  </form>

</div>
