   <div>
   <div class="row" style="margin-top: -4px">
     <div class="col-md-3">
       <button (click)="modal1.show()"><img src="/assets/img/pepsi-cola.png"></button>
     </div>

     <div class="col-md-3">
      <button (click)="modal1.show()"><img src="/assets/img/pepsi-cola.png"></button>
     </div>

     <div class="col-md-3">
       <button (click)="modal1.show()"><img src="/assets/img/pepsi-cola.png"></button>
     </div>

     <div class="col-md-3">
       <button (click)="modal1.show()"><img src="/assets/img/pepsi-cola.png"></button>
     </div>
   </div>

   <div class="row" style="margin-top: 10px">
     <div class="col-md-3">
       <button (click)="modal1.show()"><img src="/assets/img/pepsi-cola.png"></button>
     </div>

     <div class="col-md-3">
      <button (click)="modal1.show()"><img src="/assets/img/pepsi-cola.png"></button>
     </div>

     <div class="col-md-3">
       <button (click)="modal1.show()"><img src="/assets/img/pepsi-cola.png"></button>
     </div>

     <div class="col-md-3">
       <button (click)="modal1.show()"><img src="/assets/img/pepsi-cola.png"></button>
     </div>
   </div>

   <!--<div class="row" style="margin-top: 10px">-->
     <!--<div class="col-md-3">-->
       <!--<button (click)="modal1.show()"><img src="/assets/img/pepsi-cola.png"></button>-->
     <!--</div>-->

     <!--<div class="col-md-3">-->
      <!--<button (click)="modal1.show()"><img src="/assets/img/pepsi-cola.png"></button>-->
     <!--</div>-->

     <!--<div class="col-md-3">-->
       <!--<button (click)="modal1.show()"><img src="/assets/img/pepsi-cola.png"></button>-->
     <!--</div>-->

     <!--<div class="col-md-3">-->
       <!--<button (click)="modal1.show()"><img src="/assets/img/pepsi-cola.png"></button>-->
     <!--</div>-->
   <!--</div>-->

   <!--<div class="row" style="margin-top: 10px">-->
     <!--<div class="col-md-3">-->
       <!--<button (click)="modal1.show()"><img src="/assets/img/pepsi-cola.png"></button>-->
     <!--</div>-->

     <!--<div class="col-md-3">-->
      <!--<button (click)="modal1.show()"><img src="/assets/img/pepsi-cola.png"></button>-->
     <!--</div>-->

     <!--<div class="col-md-3">-->
       <!--<button (click)="modal1.show()"><img src="/assets/img/pepsi-cola.png"></button>-->
     <!--</div>-->

     <!--<div class="col-md-3">-->
       <!--<button (click)="modal1.show()"><img src="/assets/img/pepsi-cola.png"></button>-->
     <!--</div>-->
   <!--</div>-->


   <app-modal #modal1>
     <div class="app-modal-header">
       <h2 style="margin-left: 235px">Pepsi</h2>
     </div>

     <div class="app-modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-2">
          <img src="/assets/img/pepsi-cola.png">
        </div>
      </div>
       <div class="row">
         <div class="col-md-6 col-md-offset-4">
           <h2 style="margin-left: 23px">$1.50</h2>
         </div>
       </div>
     </div>

     <div class="app-modal-footer">
       <div class="row">
         <div class="col-md-12"><button type="button" class="btn btn-accent" style="width: 100%">Info</button></div>
       </div>

       <div class="row">
         <div class="col-md-12"><button type="button" class="btn btn-danger" (click)="modal1.hide()" style="width: 100%">Cancel</button></div>
       </div>

       <div class="row">
         <div class="col-md-12"><button type="button" class="btn btn-primary" style="width: 100%">Buy</button></div>
       </div>
       <!--<button type="button" class="btn btn-accent" >Close</button>-->
       <!--&lt;!&ndash;<button type="button" class="btn btn-default" (click)="modal2.show()">Show modal 2</button>&ndash;&gt;-->
       <!--<button type="button" class="btn btn-danger" (click)="modal1.hide()">Cancel</button>-->
       <!--<button type="button" class="btn btn-primary">Buy</button>-->
   </div>
 </app-modal>

 </div>
