  <div class="container" style="height: 105%; width: 100%; margin-top: 4px; background-color: #0f9d58">
    <div class="products">
      <div class="row-md" style="margin-top: 10px; margin-left: 0px; background-color: lightblue">
        <div class="col-md-2">
          <div *ngFor="let product of products1"
               [class.selected]="product === selectedProduct">
            <button (click)="onSelect(product)" (click)="modal1.show()" class="img-thumbnail" style="width: 100%"><img src="{{product.picture}}"></button>
          </div>
        </div>
        <div class="col-md-2">
          <div *ngFor="let product of products2"
               [class.selected]="product === selectedProduct">
            <button (click)="onSelect(product)" (click)="modal1.show()" class="img-thumbnail" style="width: 100%"><img src="{{product.picture}}"></button>
        </div>
      </div>
      <div class="col-md-2">
        <div *ngFor="let product of products3"
             [class.selected]="product === selectedProduct">
          <button (click)="onSelect(product)" (click)="modal1.show()" class="img-thumbnail" style="width: 100%"><img src="{{product.picture}}"></button>
        </div>
      </div>
      <div class="col-md-2">
        <div *ngFor="let product of products4"
             [class.selected]="product === selectedProduct">
          <button (click)="onSelect(product)" (click)="modal1.show()" class="img-thumbnail" style="width: 100%"><img src="{{product.picture}}"></button>
        </div>
      </div>
      <div class="col-md-2">
        <div *ngFor="let product of products5"
             [class.selected]="product === selectedProduct">
          <button (click)="onSelect(product)" (click)="modal1.show()" class="img-thumbnail" style="width: 100%"><img src="{{product.picture}}"></button>
        </div>
      </div>
      <div class="col-md-2">
        <div *ngFor="let product of products6"
             [class.selected]="product === selectedProduct">
          <button (click)="onSelect(product)" (click)="modal1.show()" class="img-thumbnail" style="width: 100%"><img src="{{product.picture}}"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Item menu-->
  <app-modal id="modal" #modal1 style="margin-top: 2000px">
    <div class="app-modal-header">
      <div class="row">
        <div class="row-md-2 offset-header">
          <h2 style="text-align: center">{{selectedProduct.name}}</h2>
        </div>
      </div>
    </div>
    <div class="app-modal-body">
      <div class="row">
        <div class="row-md-2 align-content-center"><img src={{selectedProduct.picture}}>
        </div>
      </div>
      <div class="row">
        <div class="row-md-2 offset-txt">
          <h2 style="text-align: center">Price: ${{selectedProduct.price}}</h2>
        </div>
      </div>
    </div>
    <div class="app-modal-footer">
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-info btn-block" (click)="modal1.hide()" (click)="modal2.show()">Info</button>
          <button type="button" class="btn btn-danger btn-block" (click)="modal1.hide()">Cancel</button>
          <button type="button" class="btn btn-primary btn-block"
                  (click)="modal1.hide()"
                  (click)="modal3.show()">Buy</button>
                  <!--(click)="Log Purchase"-->
        </div>
      </div>
    </div>
  </app-modal>

<!--Info Menu-->
  <app-modal #modal2 style="margin-top: 2000px">
    <div class="app-modal-header">
      <div class="row">
        <div class="row-md-2 offset-header">
          <h2 style="text-align: center">{{selectedProduct.name}}</h2>
        </div>
      </div>
    </div>
    <div class="app-modal-body">
      <div class="row">
        <div class="row-md-2 align-content-center"><img src={{selectedProduct.info}}>
        </div>
      </div>
      <div class="row">
        <div class="row-md-2 offset-txt">
          <h2 style="text-align: center">Price: ${{selectedProduct.price}}</h2>
        </div>
      </div>
    </div>
    <div class="app-modal-footer">
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary btn-block" (click)="modal2.hide()" (click)="modal3.show()">Buy</button>
          <button type="button" class="btn btn-danger btn-block" (click)="modal2.hide()">Cancel</button>
        </div>
      </div>
    </div>
  </app-modal>

<!--Buy menu-->
  <app-modal #modal3 style="margin-top: 2000px">
    <div class="app-modal-header">
      <div class="row">
        <div class="row-md-2 offset-header">
          <h2 style="text-align: center">{{selectedProduct.name}}</h2>
        </div>
      </div>
    </div>
    <div class="app-modal-body">
      <div class="row">
        <div class="row-md-2 align-content-center"><img src={{selectedProduct.picture}}>
        </div>
      </div>
      <div class="row">
        <div class="row-md-2 offset-txt">
          <h2 style="text-align: center">Price: ${{selectedProduct.price}}</h2>
        </div>
      </div>
    </div>
    <div class="app-modal-footer">
      <div class="row">
        <div class="col-md-12">
          <h2 style="text-align: center">Please choose your payment method.</h2>
          <button type="button" class="btn btn-primary btn-block" style="background-color: green" (click)="modal3.hide()" (click)="modal4.show()" (click)="modal4.autoHide()">Cash</button> <!--Add functionality to use cash here-->
          <button type="button" class="btn btn-block" style="background-color: lightblue"(click)="modal3.hide()" (click)="modal4.show()"(click)="modal4.autoHide()">Credit Card</button> <!--Add functionality to use credit cards here-->
          <button type="button" class="btn btn-danger btn-block" (click)="modal3.hide()">Cancel</button>
        </div>
      </div>
    </div>
  </app-modal>

  <!--Vend in progress message-->
  <app-modal #modal4 style="margin-top: 2000px">
    <div class="app-modal-header">
      <div class="row">
        <div class="row-md-2 offset-header">
          <h2 style="text-align: center">Now vending: {{selectedProduct.name}}</h2>
        </div>
      </div>
    </div>
    <div class="app-modal-body">
      <div class="row">
        <div class="row-md-2 align-content-center"><img src={{selectedProduct.picture}}>
        </div>
      </div>
      <div class="row">
        <div class="row-md-2 offset-txt">
          <h2 style="text-align: center">Price: ${{selectedProduct.price}}</h2>
        </div>
      </div>
    </div>
    <div class="app-modal-footer">
      <div class="row">
        <div class="col-md-12">
          <h2 style="text-align: center">Please see below</h2>
        </div>
      </div>
    </div>
  </app-modal>
