img{
  height: 100%;
  width: 100%;
}

.container{
  height: 5vh;
}

.col-md-2 {
  width: 16%;
}

.offset-header{
  left: 4%;
}

.offset-txt{
  left: 38%;
}

.offset-img{
  left: 25%;
}

button{
  background-color: black;
  color: black;
  font-size: x-large;
  height: 70px;
  width: 130px;
}

.btn-block{
  width: 100%;
}

.btn-info{
  background-color: #4d90fe;
}

.btn-danger{
  background-color: orangered !important;
}

.btn-primary{
  background-color: green !important;
}
