<div class="products">
  <div class="row-md" style="margin-top: 10px; margin-left: 0px; background-color: lightblue">
    <div class="col-md-2">
      <div *ngFor="let product of products1"
           [class.selected]="product === selectedProduct">
        <button (click)="onSelect(product)" (click)="modal1.show()" class="img-thumbnail" style="width: 100%"><img src="{{product.picture}}"></button>
      </div>
    </div>
    <div class="col-md-2">
      <div *ngFor="let product of products2"
           [class.selected]="product === selectedProduct">
        <button (click)="onSelect(product)" (click)="modal1.show()" class="img-thumbnail" style="width: 100%"><img src="{{product.picture}}"></button>
      </div>
    </div>
    <div class="col-md-2">
      <div *ngFor="let product of products3"
           [class.selected]="product === selectedProduct">
        <button (click)="onSelect(product)" (click)="modal1.show()" class="img-thumbnail" style="width: 100%"><img src="{{product.picture}}"></button>
      </div>
    </div>
    <div class="col-md-2">
      <div *ngFor="let product of products4"
           [class.selected]="product === selectedProduct">
        <button (click)="onSelect(product)" (click)="modal1.show()" class="img-thumbnail" style="width: 100%"><img src="{{product.picture}}"></button>
      </div>
    </div>
    <div class="col-md-2">
      <div *ngFor="let product of products5"
           [class.selected]="product === selectedProduct">
        <button (click)="onSelect(product)" (click)="modal1.show()" class="img-thumbnail" style="width: 100%"><img src="{{product.picture}}"></button>
      </div>
    </div>
    <div class="col-md-2">
      <div *ngFor="let product of products6"
           [class.selected]="product === selectedProduct">
        <button (click)="onSelect(product)" (click)="modal1.show()" class="img-thumbnail" style="width: 100%"><img src="{{product.picture}}"></button>
      </div>
    </div>
  </div>
</div>

  <app-modal id="modal" #modal1 style="margin-top: 2000px">
    <div class="app-modal-header">
      <div class="row">
        <div class="row-md-2 offset-header">
          <h2 style="text-align: center">{{selectedProduct.name}}</h2>
        </div>
      </div>
    </div>

    <div class="app-modal-body">
      <div class="row">
        <div class="row-md-2 align-content-center"><img src={{selectedProduct.picture}}>
        </div>
      </div>
      <div class="row">
        <div class="row-md-2 offset-txt">
          <h2 style="text-align: center">{{selectedProduct.price}}</h2>
        </div>
      </div>
    </div>

    <div class="app-modal-footer">
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-info btn-block" (click)="modal1.hide()">Info</button>
          <button type="button" class="btn btn-danger btn-block" (click)="modal1.hide()">Cancel</button>
          <button type="button" class="btn btn-primary btn-block" (click)="modal1.hide()">Buy</button>
        </div>
      </div>
    </div>

    <!--<button type="button" class="btn btn-accent" >Close</button>-->
    <!--&lt;!&ndash;<button type="button" class="btn btn-default" (click)="modal2.show()">Show modal 2</button>&ndash;&gt;-->
    <!--<button type="button" class="btn btn-danger" (click)="modal1.hide()">Cancel</button>-->
    <!--<button type="button" class="btn btn-primary">Buy</button>-->
  </app-modal>
